/* para pour le cadran et l'aiguille*/
.clock {
  position: absolute;
  left: 950px;
  bottom: 50px;
  z-index: 100;
  transform: scale(1.5);
}

@keyframes play232 {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -598px 0px;
  }
}

.shapeshifter2 {
  animation-duration: 750ms;
  animation-timing-function: steps(23);
  width: 26px;
  height: 28px;
  background-repeat: repeat;
}

.shapeshifter2.play2 {
  animation-name: play232;
  animation-delay: 1.8s;
  animation-fill-mode: backwards;
}

.fleche {
  position: relative;
  left: 0px;
  top: -27px;
  animation-name: flecheanim;
  animation-duration: 750ms;
  animation-delay: 1.8s;
  animation-fill-mode: backwards;
}

@keyframes flecheanim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(315deg);
  }
}

.shapeshifter2 {
  background-position: -598px 0px;
}

.fleche {
  transform: rotate(315deg);
}
